.section {
  button {
    border: none;
    background-color: none;
    position: absolute;
    font-size: 1.2rem;
    right: 1rem;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  li {
    list-style: none;
  }
}
