.form {
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 70%;

  label {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
  }

  input {
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 1.1rem;
  }

  button {
    border: none;
    background-color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  button:hover {
    transform: translateY(-20%);
    cursor: pointer;
  }

  p {
    font-size: 1.3rem;
  }

}