.container {
  padding: 0 1rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  p {
    font-size: 2rem;
    position: relative;
  }

  span {
    width: 10px;
  }

  .text-grey {
    color: rgba(105, 105, 105, 1);
  }

  .text-black {
    color: black;
  }

  .text-red {
    color: red;
  }
}
