.container {
  padding: 0 1rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  p {
    font-size: 2rem;
    position: relative;
  }

  span {
    width: 10px;
  }

  .text-grey {
    color: rgba(105, 105, 105, 1);
  }

  .text-black {
    color: black;
  }

  .text-red {
    color: red;
  }
}

.cursor {
  border: 1px solid black;
  position: relative;
  left: 0;
  height: 2rem;
  animation: inAndOut 1s infinite;
}

@keyframes inAndOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
