.main {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 80%;
  background-color: white;
  opacity: 0.8;
  position: relative;
  z-index: 10;

  h1 {
    display: inline;
  }
}