.nav {
  top: 5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 32px;
  }


  li {
    text-align: center;
  }

  li > a {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .nav hr {
    height: 0.4rem;
    margin: 0;
    background-color: black;
    border: none;
    transition: 0.3s ease-in-out;
    display: block;
    position: relative;
  }
}

.col-1 {
  grid-column: 1 /1;
}

.col-2 {
  grid-column: 2 / 2;
}

.col-3 {
  grid-column: 3/3;
}