.main {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgba(255, 255, 255, 0.53);
  height: 70%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    display: inline;
  }

}